<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>things</title>
</head>
<body>
    <div class="container">
        <h1>Welcome {{session['user_name']}}</h1>
        <div class="row"></div>
            <div class="float-end mt-3 mb-3">
                <a class="btn btn-danger" href="/logout">logout</a>
                <a class="btn btn-secondary" href="/things">home</a>
            </div>

            <h1 class="text-center">Here are our things!!!</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Column One</th>
                        <th>Column Two</th>
                        <th>Column Three</th>
                        <th>Column Four</th>
                        <th>Added By</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for thing in things %}
                    <tr>
                        <td>{{ thing.column1 }}</td>
                        <td>{{ thing.column2 }}</td>
                        <td>{{ thing.column3}}</td>
                        <td>{{ thing.column4}}</td>
                        <td>{{ thing.first_name}}</td>
                    <td>{{ thing.created_at.strftime("%b %d %Y") }}</td>
                    <td>
                        <a href="/things/show/{{ thing.id }}">Show</a> |
                        <a href="/things/edit/{{ thing.id }}">Edit</a> |
                        <a href="/things/destroy/{{ thing.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/things/new" class="btn btn-primary">Add a thing</a>
        <a href="/users/show/{{session['user_id']}}" class="btn btn-primary">view your things</a>
    </div>

</body>
</html>